<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./stylesheets/elementUI.css">
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>
<body>
<div id="app">
    <el-main>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>商品信息管理</span>
            </div>
            <div class="text item">
                <el-form :inline="true" :model="search" id="searchForm" class="demo-form-inline">
                    <el-form-item label="所属分类">
                        <el-select v-model="search.category" placeholder="请选择">
                            <el-option v-for="(c, index) in categoryList" :key="index" :label="c.cg_name" :value="c.cg_id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="关键词">
                        <el-input v-model="search.keywords" placeholder="条码或者商品名称"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="success" @click="onSearch">查询</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="text item">
                <template>
                    <el-table :data="tableData" style="width: 100%">
                        <el-table-column label="编号" prop="good_id" width="80px">
                        </el-table-column>
                        <el-table-column label="商品名称" prop="goodsname" width="250px">
                        </el-table-column>
                        <el-table-column label="所属分类" width="150px">
                            <template slot-scope="scope">
                                <span> {{ scope.row.cg_name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="商品进价" width="100px">
                            <template slot-scope="scope">
                                <span class="priceColor"> {{ scope.row.goodsprice | formatPrice }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="市场价" width="100px">
                            <template slot-scope="scope">
                                <span class="priceColor"> {{ scope.row.marketprice | formatPrice }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="销售价" width="100px">
                            <template slot-scope="scope">
                                <span class="priceColor"> {{ scope.row.saleprice | formatPrice }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="200px">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleEdit(scope.row.cg_id)" type="primary" plain>
                                    <i class="el-icon-edit"></i> 编辑</el-button>
                                <el-button size="mini" @click="handleDelete(scope.row.cg_id)" type="danger" plain>
                                    <i class="el-icon-delete"></i> 删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </div>
            <div class="text item">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage"
                :page-sizes="[5,10,20,50,100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
                :total="total">
                </el-pagination>
            </div>
        </el-card>
    </el-main>
</div>
<script src="./javascripts/jquery.min.js"></script>
<script src="./javascripts/vue.min.js"></script>
<script src="./javascripts/elementUI.js"></script>
<script>
    new Vue({
        //挂载视图
        el: "#app",
        data() {
            return {
                categoryList:[],
                tableData: [],
                currentPage:1,
                pageSize:10,
                total:20,
                search:{
                    keywords:'',
                    category:''
                }
            }
        },
        filters:{
            formatPrice(price){
                return price.toFixed(2);
            }
        },
        methods: {
            //编辑和删除的方法
            onSearch(){
                $.get("/goods/listSearch",this.search,(searchResult)=>{
                    console.log("查询的结果：",searchResult);
                    this.tableData = searchResult;
                    this.total = searchResult.length;
                })
            },
            handleEdit(id) {
                console.log("编辑的id", id);
            },
            handleDelete(id) {
                console.log("删除的id", id);
            },
            getDataAjax() {
                let pageObj = {
                    pageSize:this.pageSize,
                    currentPage:this.currentPage
                };
                $.get("/goods/listPager",pageObj,(pageData)=>{
                    this.total = pageData.total;
                    this.tableData = pageData.datalist;
                })
            },
            handleSizeChange(val) {
                this.pageSize = val;
                this.getDataAjax();

            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.getDataAjax();
            }
        },
        mounted() {
            //调用ajax方法获取数据
            this.getDataAjax();
            $.get("/category/list",(dataList)=> {
                //把ajax请求获取的分类修改到模型上面
                this.categoryList=dataList;
            });
        }
    });
</script>


</body>
</html>